<h1> New Product </h1>

<% flash.each do |type, msg| %>
    <% if type == :alert %>
    <div class="alert alert-error">Errors: <%= msg %></div>
    <% else %>
    <div class="alert alert-info"><%= msg %></div>
    <% end %>
<% end %>

<%= form_with model: Product.new do |f| %>
    <div>
        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :price_cents, "Price (CAD)" %>
        <%= f.text_field :price_cents %>
    </div>

    <div>
        <%= f.label :rating, "Rating" %>
        <%= f.select :rating, (1..5).entries.unshift(nil) %>
    </div>


    <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>

    <%= f.submit %>
<% end %>
